.u-section-1 .u-sheet-1 {
  min-height: 984px;
}

.u-section-1 .u-text-1 {
  width: 451px;
  margin: 51px auto 0;
}

.u-section-1 .u-text-2 {
  width: 742px;
  margin: 50px auto 0;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}@font-face {
  font-family: 'SafiraMarchPersonalUseOnly';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SafiraMarchPersonalUseOnly.ttf);
}@font-face {
  font-family: 'CormorantGaramond-VariableFont_wght';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/CormorantGaramond-VariableFont_wght.ttf);
}
/* page-custom-fonts */
@font-face {
  font-family: 'SafiraMarchPersonalUseOnly';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SafiraMarchPersonalUseOnly.ttf);
}@font-face {
  font-family: 'CormorantGaramond-VariableFont_wght';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/CormorantGaramond-VariableFont_wght.ttf);
}